{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}

